# /etc/systemd/system/mqtt-oled-display-webserver.service
[Unit]
Description=MQTT OLED Display Webserver Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/mqtt-oled-display
ExecStart=/usr/bin/python3 web.py
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
